# Virtual environments
venv/
env/

# Python cache
__pycache__/
*.pyc

# Large video files
*.mp4
*.avi
output/
runs/

# Editor settings
.vscode/
.idea/

# OS junk (Mac)
.DS_Store

*.csv

yolov8x-pose.pt